{# templates/lucky/blog.html.twig #}
<h1>Blog:  {{ blogpost }}</h1>
<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eum excepturi expedita, fuga incidunt nam nesciunt perspiciatis reprehenderit repudiandae sapiente temporibus voluptate! Assumenda corporis doloribus labore modi nesciunt rem suscipit.</h2>