{# templates/learning/index.html.twig #}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deserunt eveniet fugit hic maiores nam neque nihil pariatur quae? Amet at consequatur culpa dolor dolore dolorum eum, eveniet unde. Voluptatum!</p>
